{% comment %}
  
  SNIPPET used for Inspo single image

{% endcomment %}

<div class="inspo__triple">
	<div class="inspo__triple__item">
		{%- if block.settings.tripleItem1singleLink != blank -%}
			<a href="{{ block.settings.tripleItem1singleLink }}">
		{%- endif -%}
		<div class="inspo__triple__img">
			{%- if block.settings.tripleItem1singleImage != blank -%}
	            {{ block.settings.tripleItem1singleImage | img_url: 'master', scale: 2 | img_tag: block.settings.tripleItem1singleImage.alt, 'lazyload no-js ' }}
	         {%- endif -%}
		</div>
		<div class="inspo__text">
			<h2 class="h3-raleway">{{ block.settings.tripleItem1Title }}</h2>
		</div>
		{%- if block.settings.tripleItem1singleLink != blank -%}
			</a>
		{%- endif -%}
	</div>

	<div class="inspo__triple__item">
		{%- if block.settings.tripleItem2singleLink != blank -%}
			<a href="{{ block.settings.tripleItem2singleLink }}">
		{%- endif -%}
		<div class="inspo__triple__img">
			{%- if block.settings.tripleItem2singleImage != blank -%}
	            {{ block.settings.tripleItem2singleImage | img_url: 'master', scale: 2 | img_tag: block.settings.tripleItem2singleImage.alt, 'lazyload no-js ' }}
	         {%- endif -%}
		</div>
		<div class="inspo__text">
			<h2 class="h3-raleway">{{ block.settings.tripleItem2Title }}</h2>
		</div>
		{%- if block.settings.tripleItem2singleLink != blank -%}
			</a>
		{%- endif -%}
	</div>

	<div class="inspo__triple__item">
		{%- if block.settings.tripleItem3singleLink != blank -%}
			<a href="{{ block.settings.tripleItem3singleLink }}">
		{%- endif -%}
		<div class="inspo__triple__img">
			{%- if block.settings.tripleItem3singleImage != blank -%}
	            {{ block.settings.tripleItem3singleImage | img_url: 'master', scale: 2 | img_tag: block.settings.tripleItem3singleImage.alt, 'lazyload no-js ' }}
	         {%- endif -%}
		</div>
		<div class="inspo__text">
			<h2 class="h3-raleway">{{ block.settings.tripleItem3Title }}</h2>
		</div>
		{%- if block.settings.tripleItem3singleLink != blank -%}
			</a>
		{%- endif -%}
	</div>
</div>