<!doctype html>
<html class="no-touch no-js">
<head>
  <meta name="p:domain_verify" content="a2940ecae04b8c5e79f4197844879532"/>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="-SAALMg88b-KF-x-iGDiYBSo9T99VJ1_I-i-2wJpYcA" />

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS ================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'tpd.scss' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  
{{ content_for_header }}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if request.page_type contains 'customers/' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

  
  
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor-min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0ede41c3ba2bcba451d3d2109/85ca244de7e3b22f660f1f5f9.js");</script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

  
  {% if page.title == 'Lampshade Library' %}
  <!-- Custom Lampshades header code goes here -->
    {% section 'lampshade-header' %}
  {% else %}
    <!-- Default header code goes here -->
    {% section 'header' %}
  {% endif %}

<!-- Your main content area -->
  <main class="wrapper main-content{% if request.page_type == blank %} main-content--no-template{% endif %}" role="main" id="main">

    {% if page.title == 'Lampshade Library' %}
  <!-- Custom Lampshades header code goes here -->
    {{ content_for_layout }}
  {% else %}
    <!-- Default header code goes here -->
    {{ content_for_layout }}
  {% endif %}

  </main>

{% if page.title == 'Lampshade Library' %}
  <!-- Custom Lampshades footer code goes here -->
  {% section 'lampshade-footer' %}
{% else %}
  <!-- Default footer code goes here -->
  {% section 'footer' %}
{% endif %}

  

  <script>

  var moneyFormat = '{{ shop.money_format }}';

  var theme = {
    strings:{
      product:{
        unavailable: {{ 'products.product.unavailable' | t | json }},
        will_be_in_stock_after:{{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        only_left:{{ 'products.product.only_left' | t: count: '1' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }}
      },
      navigation:{
        more_link: {{ 'layout.navigation.more' | t | json }}
      },
      map:{
        addressError: {{ 'map.errors.address_error' | t | json }},
        addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
        addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
        authError: {{ 'map.errors.auth_error_html' | t | json }}
      }
    },
    settings:{
      cartType: {{ settings.ajax_cart_method | json }}
    }
  }
  </script>

  {% if settings.ajax_cart_method != 'page' %}

    {% include 'ajax-cart-template' %}

  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>

<style>
@media only screen and (max-width: 768px) {
  .mc-banner {
    visibility: visible;
    z-index: 999999999;
  }
}
</style>

<!-- sh-ssp-added -->
<!-- /sh-ssp-added -->
  

{% render 'spurit_spp2_theme_snippet' %}
</body>
</html>
