{% assign limit = section.settings.grid | times: section.settings.rows %}

{% paginate collection.products by limit %}

{% comment %}
{% include 'breadcrumb' %}
{% endcomment %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 and section.settings.enable_sidebar %}
  {% assign has_sidebar = true %}
{% endif %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="grid-uniform grid-border">

    {% if has_sidebar %}
    <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
      {% include 'collection-sidebar' %}
    </aside>
    {% endif %}

    <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

      {% comment %}
        Different markup if description is set
      {% endcomment %}

       {% if collection.handle == 'shades' %}{% unless current_tags %}

        <header class="section-header collection-header">


          <h1 class="section-header--title h1-style text-center">Shop</h1>
        </header>
        <p class="text-center">{{ section.settings.solidlinen_sub-headline }}</p>
        {% endunless %}

      {% else %}
      <header class="section-header collection-header" style="padding-top: 0;">

        {{ section.settings.solidlinen_header | img_url: 'master', scale: 2 | img_tag: section.settings.solidlinen_header.alt, 'solid-linen-hero-img' }}

        <h1 class="section-header--title h1-style text-center">{{ collection.title }}</h1>
       <div class="collection-solid__sub-headline">{{ section.settings.solidlinen_sub-headline }}</div>
        {% comment %}
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
        {% endcomment %}
      </header>
      {% endif %}

      {% include 'solid-collection-info' %}



      <div class="grid-uniform">
        {%- case section.settings.grid -%}
          {%- when '2' -%}
            {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
            {%- assign image_size = '540x600' -%}
            {%- assign width = '540' -%}
            {%- assign height = '600' -%}
          {%- when '3' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-half large--one-third' -%}
            {%- assign image_size = '345x550' -%}
            {%- assign width = '345' -%}
            {%- assign height = '550' -%}
          {%- when '4' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-quarter large--one-quarter' -%}
            {%- assign image_size = '250x' -%}
            {%- assign width = '250' -%}
            {%- assign height = '225' -%}
          {%- when '5' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-fifth large--one-fifth' -%}
            {%- assign image_size = '195x' -%}
            {%- assign width = '195' -%}
            {%- assign height = '125' -%}
        {%- endcase -%}

        {% for product in collection.products %}
          {% comment %}
          {% if has_sidebar %}
            {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
          {% else %}
            {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
          {% endif %}
          {% endcomment %}
          {% include 'product-grid-item' with grid_item_width %}

        {% else %}

          <div class="grid-item">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endfor %}

      </div>

    </div>

    {% if paginate.pages > 1 %}
    <div class="grid-item pagination-border-top">
      <div class="grid">
        <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "da": "Kollektion",
    "de": "Kategorie",
    "en": "Collection",
    "es": "Colección",
    "fi": "Kokoelma",
    "fr": "Collection",
    "hi": "कलेक्शन",
    "it": "Collezione",
    "ja": "コレクション",
    "ko": "컬렉션",
    "ms": "Koleksi",
    "nb": "Samling",
    "nl": "Collectie",
    "pt-BR": "Coleção",
    "pt-PT": "Coleção",
    "sv": "Produktserie",
    "th": "คอลเลกชัน",
    "zh-CN": "收藏",
    "zh-TW": "商品系列"
  },
  "class": "collection-template-section",
  "settings": [
    {
      "id": "solidlinen_header",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "solidlinen_sub-headline",
      "type": "richtext",
      "label": "Sub Headline"
    },
    {
      "id": "infohl-1",
      "type": "text",
      "label": "Info Section 1"
    },
    {
      "id": "infoimage-1a",
      "type": "image_picker",
      "label": "Image 1",
      "info": "Use a square shaped photograph for best results."

    },
    {
      "id": "imageLabel-1a",
      "type": "text",
      "label": "Image Label 1"
    },
    {
      "id": "infoimage-1b",
      "type": "image_picker",
      "label": "Image 2",
      "info": "Use a square shaped photograph for best results."
    },
    {
      "id": "imageLabel-1b",
      "type": "text",
      "label": "Image Label 2"
    },
    {
      "id": "infohl-2",
      "type": "text",
      "label": "Info Section 2"
    },
    {
      "id": "infoimage-2a",
      "type": "image_picker",
      "label": "Image 1",
      "info": "Use a square shaped photograph for best results."
    },
    {
      "id": "imageLabel-2a",
      "type": "text",
      "label": "Image Label 1"
    },
    {
      "id": "infoimage-2b",
      "type": "image_picker",
      "label": "Image 2",
      "info": "Use a square shaped photograph for best results."
    },
    {
      "id": "imageLabel-2b",
      "type": "text",
      "label": "Image Label 2"
    },
    {
      "id": "infohl-3",
      "type": "text",
      "label": "Info Section 3"
    },
    {
      "id": "infoimage-3a",
      "type": "image_picker",
      "label": "Image 1",
      "info": "Use a square shaped photograph for best results."
    },
    {
      "id": "imageLabel-3a",
      "type": "text",
      "label": "Image Label 1"
    },
    {
      "id": "infoimage-3b",
      "type": "image_picker",
      "label": "Image 2",
      "info": "Use a square shaped photograph for best results."
    },
    {
      "id": "imageLabel-3b",
      "type": "text",
      "label": "Image Label 2"
    },        
    {
      "type": "select",
      "id": "grid",
      "label": {
        "da": "Produkter pr. række",
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fi": "Tuotteita per rivi",
        "fr": "Produits par rangée",
        "hi": "प्रति पंक्ति उत्पाद",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "ko": "열 별 제품",
        "ms": "Produk setiap baris",
        "nb": "Produkter per rad",
        "nl": "Producten per rij",
        "pt-BR": "Produtos por linha",
        "pt-PT": "Produtos por linha",
        "sv": "Produkter per rad",
        "th": "สินค้าต่อแถว",
        "zh-CN": "每行产品数",
        "zh-TW": "每列產品數"
      },
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": {
            "da": "2",
            "de": "2",
            "en": "2",
            "es": "2",
            "fi": "2",
            "fr": "2",
            "hi": "2",
            "it": "2",
            "ja": "2",
            "ko": "2",
            "ms": "2",
            "nb": "2",
            "nl": "2",
            "pt-BR": "2",
            "pt-PT": "2",
            "sv": "2",
            "th": "2",
            "zh-CN": "2",
            "zh-TW": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "ms": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "ms": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "ms": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": {
        "da": "Rækker pr. side",
        "de": "Zeilen pro Seite",
        "en": "Rows per page",
        "es": "Filas por página",
        "fi": "Rivejä per sivu",
        "fr": "Rangées par page",
        "hi": "प्रति पृष्ठ पंक्तियां",
        "it": "Righe per pagina",
        "ja": "ページあたりの行数",
        "ko": "페이지 별 열",
        "ms": "Baris setiap halaman",
        "nb": "Rader per side",
        "nl": "Rijen per pagina",
        "pt-BR": "Linhas por página",
        "pt-PT": "Linhas por página",
        "sv": "Rader per sida",
        "th": "แถวต่อหน้า",
        "zh-CN": "每页行数",
        "zh-TW": "每頁列數"
      },
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "ms": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "ms": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "ms": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        },
        {
          "value": "6",
          "label": {
            "da": "6",
            "de": "6",
            "en": "6",
            "es": "6",
            "fi": "6",
            "fr": "6",
            "hi": "6",
            "it": "6",
            "ja": "6",
            "ko": "6",
            "ms": "6",
            "nb": "6",
            "nl": "6",
            "pt-BR": "6",
            "pt-PT": "6",
            "sv": "6",
            "th": "6",
            "zh-CN": "6",
            "zh-TW": "6"
          }
        },
        {
          "value": "7",
          "label": {
            "da": "7",
            "de": "7",
            "en": "7",
            "es": "7",
            "fi": "7",
            "fr": "7",
            "hi": "7",
            "it": "7",
            "ja": "7",
            "ko": "7",
            "ms": "7",
            "nb": "7",
            "nl": "7",
            "pt-BR": "7",
            "pt-PT": "7",
            "sv": "7",
            "th": "7",
            "zh-CN": "7",
            "zh-TW": "7"
          }
        },
        {
          "value": "8",
          "label": {
            "da": "8",
            "de": "8",
            "en": "8",
            "es": "8",
            "fi": "8",
            "fr": "8",
            "hi": "8",
            "it": "8",
            "ja": "8",
            "ko": "8",
            "ms": "8",
            "nb": "8",
            "nl": "8",
            "pt-BR": "8",
            "pt-PT": "8",
            "sv": "8",
            "th": "8",
            "zh-CN": "8",
            "zh-TW": "8"
          }
        }
      ]  
    }
  ]

}
{% endschema %}
